.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.801),
         rgba(40, 180, 133, 0.801)),
          url("../images/777.jpeg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
  
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    
  }

  &__logo {
    height: 3.5rem;
    padding: .5rem;
  }

}
  
.title__primary{
   position: absolute;
   top: 30%;
   left: 30%;
   color: rgba(255, 255, 255, 0.925);
   
   
   // main header
   &--top{
    animation: slideIn 3s linear;
    font-size: 450%;
   }

   &--bot{
    
    animation: dropDown 3s linear;
   }

   &--btn{
    font-family: 'Philosopher', sans-serif;
     position: absolute;
     text-decoration: none;
     color: rgba(255, 255, 255, 0.925);
     font-size: 97%;
     animation: slideIn 3s linear;
    }

    &--input{
      text-transform: uppercase;
      transform: translate(106%,42%);
      padding: 2vw;
      background-color: transparent;
      color: aliceblue;
      border: 1px solid rgba(255, 255, 255, 0.781);
      overflow: hidden;
      transition: all .5s linear;
     

      &:hover{
        color: rgba(0, 0, 0, 0.651);
      }
      

      &:before{
        visibility: hidden;
        content: '';
        z-index: -1;
        height: 150%;
        width: 10%;
        background-color: #fff;
        position: absolute;
        transition: all .5s linear;
        transform: translate(-21%,-40%) skewX(-25deg);
      }
      &:hover:before{
        width: 200%;
        visibility: visible;
      }
    }
  
}

// footer 

.footer{
  text-align: center;
}

.fa-3x{
  padding: 5px;
}