// lato
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0; 
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    // font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 1.5rem;
}

// .container{
//     width: 80vw;
//     height: 100vh;
//     margin: 0 auto;
//     padding: 2rem;
    
// }
li{
    list-style-type: none;
}

// .header{
//     display: flex;
//     justify-content: space-between;
//     border-bottom: 1px solid black;
//     padding-bottom: 1.5rem;
    

//     &__logo{
//         font-size: 320%;
//     }

//     &__form{
//         display: flex;
//         justify-content: space-between;

//         &--btn{
//             border: none;
//             background-color: rgba(0, 0, 0, 0.692);
//             padding: 1rem;
//             text-align: center;
//             color: rgba(255, 255, 255, 0.911);
//             margin-left: .5rem;
//         }
//     }

    
// }

// .center{
//     transform: translate(0,25%);
//     margin-left: .5rem;
// }

// .main{
//     display: grid;
//     grid-template-columns: 70% 30%;
//     // background-color: rgb(99, 57, 57);
//     width:100%;
//     height: 70vh;


//     &__gallery{
//         width: 100%;
//         display: grid;
//         grid-template-columns: repeat(5, 1fr);
//         grid-template-rows: repeat(4,10vw);
//         grid-gap: 2rem;
//         padding: 2rem;
        
//         &--1{
//             grid-row: 1/ span 3;
//             grid-column: 1/ span 2;
//         }

//         &--2{
//             grid-row: 4/span 2;
//             grid-column: 3/ span 3;
//         }
//         &--3{
//             grid-row: 2/ span 2;
//             grid-column: 3/ span 3;
           
//         }
//     }

//     &__content{
//         width: 20%;
//         border-left: 1px solid black;


//     }
// }

// .images{
//     width: 100%;
//     height: 100%;
//     display: block;
//     object-fit: fill;
//     overflow: hidden;
// }

