.secondContainer{
    width: 80vw;
    margin: 0 auto;
    text-align: center;

    &__items{
       
        margin: 1rem;
        padding: 1rem;
        
        &--header{
            font-size: 180%;

        }
        &--subcontent{
            display: none;
        }
    }
       
}