footer
    script(src='/js/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
    script(src='/js/rellax.js')
    script(src='/js/script.js')
    




    
