extends boilerplate 
block content
    .container
        ul.header 
            .header__logo Connect
            .header__form 
                h3.center Username: 
                input.input(type='text', placeholder='Username', name='username')
                h3.center Password
                input.header__form--input(type='text', placeholder='Username', name='username')
                input.header__form--btn(type='submit', placeholder='Submit', name='sdfs')
                