extends boilerplate 
block content
    //- .container
    //-     //- header
    //-     ul.header 
    //-         .header__logo Connect
    //-         .header__form 
    //-             h3.center Username: 
    //-             input.input(type='text', placeholder='Username', name='username')
    //-             h3.center Password
    //-             input.header__form--input(type='text', placeholder='Username', name='username')
    //-             input.header__form--btn(type='submit', placeholder='Submit', name='sdfs')
        
    //-     //- body  
    //-     .main
    //-         //- images
    //-         .main__gallery
    //-             img.main__gallery--1.images(src='/images/1.jpg', alt='images')
    //-             img.main__gallery--2.images(src='/images/2.jpeg', alt='images')
    //-             img.main__gallery--3.images(src='/images/3.jpeg', alt='images')
            
    //-         //- content
    //-         .main__content 
    //-             h3 Learn
    //-             h3 Teach
    //-             h3 Share 
    header.header
        .header__logo-box
        img.header__logo(src='images/logo-white.png', alt='logo')
        
        h1.title__primary 
            span.title__primary--top  Teach
            span.title__primary--bot  Learn
            br
            a.btn.btn--white.btn--animated(href='#') Browse through

    include footer.pug