extends boilerplate
block content
    .secondContainer
    
        .form
            .form__add
                form(action='/students', method='POST')
                    input(type='text', name='fname', placeholder='Title')
                    br
                    input(type='text', name='lname', placeholder='Description')
                    br
                    input(type='text', name='image', placeholder='Details')
                    br
                    input(type='submit', value='Add Student')

        each i in howto
            .secondContainer__items
                h3.secondContainer__items--header #{i.name} 
                .secondContainer__items--subcontent
                    p.secondContainer__items--description #{i.description}
                    p.secondContainer__items--direction  #{i.direction}  

    include footer.pug