@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

.container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto; }

li {
  list-style-type: none; }

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 1.5rem; }
  .header__logo {
    font-size: 320%; }
  .header__form {
    display: flex;
    justify-content: space-between; }
    .header__form--btn {
      border: none;
      background-color: rgba(0, 0, 0, 0.692);
      padding: 1rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.911);
      margin-left: .5rem; }

.center {
  transform: translate(0, 25%);
  margin-left: .5rem; }

.main {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100%;
  height: 70vh; }
  .main__gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem; }
    .main__gallery--1 {
      grid-row: 1/ span 3;
      grid-column: 1/ span 2; }
    .main__gallery--2 {
      grid-row: 1/span 2;
      grid-column: 2/ span 3; }
    .main__gallery--3 {
      grid-row: 1/ span 2;
      grid-column: 4/ span 2;
      z-index: -1; }
  .main__content {
    width: 20%;
    border-left: 1px solid black; }

.images {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain; }
