@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Philosopher");
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: .5;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    opacity: .5;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  padding: 1.5rem; }

li {
  list-style-type: none; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url("../images/777.jpeg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    padding: .5rem; }

.title__primary {
  position: absolute;
  top: 30%;
  left: 30%;
  color: rgba(255, 255, 255, 0.925); }
  .title__primary--top {
    animation: slideIn 3s linear;
    font-size: 450%; }
  .title__primary--bot {
    animation: dropDown 3s linear; }
  .title__primary--btn {
    font-family: 'Philosopher', sans-serif;
    position: absolute;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
    font-size: 97%;
    animation: slideIn 3s linear; }
  .title__primary--input {
    text-transform: uppercase;
    transform: translate(106%, 42%);
    padding: 2vw;
    background-color: transparent;
    color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.781);
    overflow: hidden;
    transition: all .5s linear; }
    .title__primary--input:hover {
      color: rgba(0, 0, 0, 0.651); }
    .title__primary--input:before {
      visibility: hidden;
      content: '';
      z-index: -1;
      height: 150%;
      width: 10%;
      background-color: #fff;
      position: absolute;
      transition: all .5s linear;
      transform: translate(-21%, -40%) skewX(-25deg); }
    .title__primary--input:hover:before {
      width: 200%;
      visibility: visible; }

.footer {
  text-align: center; }

.fa-3x {
  padding: 5px; }

.menu {
  text-align: center;
  font-size: 1.6rem; }
  .menu__title {
    text-decoration: none;
    font-family: 'Philosopher', sans-serif; }

.header__content {
  position: relative;
  background-image: url("/images/2.jpeg");
  background-position: top center;
  height: 40rem;
  text-align: center;
  color: #fff;
  background-size: 100% 100%;
  background-attachment: fixed;
  -webkit-box-shadow: 2px 6px 27px 4px #696569;
  -moz-box-shadow: 2px 6px 27px 4px #696569;
  box-shadow: 2px 6px 27px 4px #696569; }
  .header__content--c {
    position: relative;
    display: inline-block;
    top: 17rem;
    padding: 2rem; }
    .header__content--c h1 {
      font-family: 'Philosopher', sans-serif;
      font-size: 4rem;
      border-bottom: .5px solid white; }
    .header__content--c p {
      font-family: 'Philosopher', sans-serif;
      font-size: 3rem; }

.secondContainer {
  width: 80vw;
  margin: 0 auto;
  text-align: center; }
  .secondContainer__items {
    margin: 1rem;
    padding: 1rem; }
    .secondContainer__items--header {
      cursor: pointer;
      font-size: 180%; }
    .secondContainer__items--subcontent {
      display: none; }

.form {
  font-size: 225%; }
  .form__add {
    display: none; }
  .form .addBtn {
    cursor: pointer;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.651);
    width: 25rem;
    margin: 5% auto;
    position: relative;
    overflow: hidden; }
    .form .addBtn span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out; }
      .form .addBtn span:nth-child(1) {
        transform: translateX(-100%); }
    .form .addBtn:hover span:nth-child(1) {
      transform: translateX(0); }
    .form .addBtn:hover span:nth-child(2) {
      transform: translateX(0); }
    .form .addBtn:hover span:nth-child(2) {
      transform: translateX(100%); }
  .form__add input {
    transition: all .5s linear;
    width: 59%;
    margin: 0 auto;
    background: transparent;
    border: none;
    border-bottom: .2rem solid black;
    outline: none;
    color: #292727;
    height: 5vh;
    font-size: 100%; }
    .form__add input:hover {
      background-color: rgba(180, 179, 179, 0.863); }

#form__add--submit {
  background-color: rgba(54, 53, 53, 0.733);
  width: 30%;
  margin: 0 auto;
  cursor: pointer; }

#form__add--des {
  height: 20rem; }

.modal {
  position: absolute;
  padding: 3vw;
  top: 15%;
  left: 30%;
  display: none;
  height: 50vh;
  width: 40vw;
  z-index: 100;
  background: rgba(255, 255, 255, 0.808); }
  .modal__container {
    display: flex; }
    .modal__container--span {
      font-size: 150%;
      position: absolute;
      top: 5px;
      left: 5px; }
    .modal__container h3 {
      text-align: center;
      font-size: 220%;
      margin-bottom: 1vw; }
    .modal__container--one {
      width: 20vw;
      padding: .5rem; }
    .modal__container--two {
      width: 20vw;
      padding: .5rem;
      border-left: 1px solid black; }

.input__name p input {
  width: 99%;
  margin: 0 auto;
  margin-bottom: 1vw;
  background: transparent;
  border: none;
  border-bottom: .2rem solid black;
  outline: none;
  color: #292727;
  height: 4vw;
  font-size: 150%;
  transition: all .3s linear; }
  .input__name p input:hover {
    background-color: rgba(128, 126, 126, 0.623); }

.input__name--btn {
  border: .2vw solid black;
  display: inline-block;
  background-color: rgba(27, 25, 25, 0.829);
  color: #fff;
  font-size: 1vw;
  height: 1vw; }
  .input__name--btn:hover {
    cursor: pointer; }

.input__name p {
  text-align: center;
  font-size: 1vw; }

.a {
  display: block;
  text-decoration: none;
  font-size: 150%;
  text-align: center; }

#submit {
  background-color: rgba(54, 53, 53, 0.733);
  width: 70%;
  margin: 0 auto;
  cursor: pointer; }

.secondContainer__items {
  overflow: scroll;
  width: 80%;
  margin: 0 auto; }
  .secondContainer__items--header {
    background-color: rgba(139, 138, 138, 0.692);
    padding: 1rem; }
  .secondContainer__items--subcontent {
    height: 20rem; }
  .secondContainer__items--description {
    font-size: 200%;
    font-style: oblique; }
  .secondContainer__items--direction {
    font-size: 150%;
    margin-bottom: 2rem; }

.edit {
  padding: 1rem;
  background-color: rgba(27, 26, 26, 0.829);
  color: rgba(255, 255, 255, 0.856);
  cursor: pointer; }

.add {
  margin-top: 5px;
  display: none;
  height: 20rem; }
  .add--submit {
    cursor: pointer;
    outline: none;
    background-color: rgba(43, 41, 41, 0.925);
    color: rgba(255, 255, 255, 0.89);
    transition: all .5s ease-in-out; }
    .add--submit:hover {
      background-color: rgba(255, 255, 255, 0.911);
      color: rgba(0, 0, 0, 0.856); }
  .add input {
    outline: none;
    width: 20rem;
    height: 5rem; }

.delete {
  display: inline-block; }

.deleteBtn {
  padding: 1rem;
  background-color: rgba(27, 26, 26, 0.829);
  color: rgba(255, 255, 255, 0.87);
  outline: none;
  margin: 0 auto;
  cursor: pointer; }
  .deleteBtn:focus {
    outline: none; }

#close {
  transition: all .3s ease-in-out; }

#close:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.815); }

.main {
  height: 100rem;
  background-color: rgba(236, 235, 235, 0.842);
  position: relative;
  margin-top: -15rem;
  z-index: -1; }
  .main__content {
    position: absolute;
    top: 20rem;
    text-transform: uppercase;
    font-size: 1.6vw; }
    .main__content--header {
      color: rgba(29, 28, 28, 0.596);
      text-align: center;
      margin-bottom: 1rem; }
    .main__content__flex {
      display: flex;
      justify-content: space-between; }
      .main__content__flex--story {
        border-radius: 60%;
        background-image: url("../images/imp.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 30%;
        padding: 2rem;
        text-align: center;
        color: rgba(255, 255, 255, 0.842);
        font-size: 1.7vw; }
      .main__content__flex--chart {
        width: 71vw;
        padding: 1rem; }
  .main__quote {
    padding: 4rem;
    font-size: 1.4vw;
    text-align: center; }

.diseases {
  text-transform: uppercase;
  margin-bottom: 5px; }
  .diseases__span {
    color: rgba(126, 213, 111, 0.801);
    font-size: 1.2vw; }

@media screen and (max-width: 600px) {
  .title__primary {
    left: 25%;
    color: rgba(255, 255, 255, 0.925); }
    .title__primary--top {
      animation: slideIn 3s linear;
      font-size: 350%; }
    .title__primary--bot {
      animation: dropDown 3s linear; }
    .title__primary--btn {
      font-size: 70%; }
  .main__flex {
    display: inline-flex; } }
